{% extends 'LisheApp/base.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Makundi Ya Chakula</title>

</head>
<body>

  <div class="container-fluid">





 
         <div class="login">
    <h2 style="font-size: 18px;font-family: sans-serif;">Update Makundi Ya Chakula </h2>

          {% if messages %}
{% for message in messages %}
     

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong style="color: red;font-size: 16px;">{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
  {% endif %}

    <form method="POST" action=""enctype="multipart/form-data">
        {% csrf_token %}

         <div class="user-box">
          <label> Food Category *</label>
        {{form.FoodCategory}}
        
      </div>

      <div class="user-box">
         <label>Status</label>
        {{form.status}}
       
      </div>

  

      <div class="user-box">
         <label>Image</label>
       {{form.Image}}
       
      </div>


    


      

         


       <div class="user-box">
        <label>Description</label><br>
       
        {{form.Description}}
        
      </div>





     <!--  <p><input type="checkbox">Remember me <span>Forgot?</span></p> -->

        <a href="" class="link-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>



        <button type="submit"  style="background-color: blue;color: white;padding: 10px;padding-right: 20px;padding-left: 20px;font-size: 20px;border-radius: 10px;">Update Item</button>
      </a>

     <!--  <div class="options-02">
                    <p>You don't have an account? <a href="" style="font-size: 18px;color: lightblue;font-weight: bold;text-decoration: none;">Sign Up</a></p>
                </div> -->
    </form>
  </div>









    
  </div>

</body>
</html>
{% endblock %}